<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload</title>
</head>
<body>
    <div>
        <form action="http://127.0.0.1/index/upload/info" method="post" enctype="multipart/form-data">
            <div>
                请选择要上传到的目录:
                <select name="upload">
                    <%for(var i=0;i<sf.length;i++){%>
                    <option><%=sf[i]%></option>
                    <%}%>
                </select>
            </div>
            <div>
            <input type="file" name="file">
            </div>
            <input type="submit" value="确定">
        </form>
    </div>
</body>
</html>